<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit your account</title>
    <link crossorigin="anonymous" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h2 class="page-header">Edit your account</h2>
<div class="container">
    <form id="logoutForm" method="POST" th:action="@{/logout}">
        <div align="right" class="logout" sec:authorize="isAuthenticated()" th:fragment="logout">
            <h4> Hello <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a onclick="document.forms['logoutForm'].submit()">Logout</a>
            </h4>
        </div>
    </form>
    <div class="row other-form">
        <form method="POST" th:action="@{/edit/{id}(id=${userEditForm.userName})}" th:object="${userEditForm}">
            <div class="form-group">
                <label for="image">Image:</label>
                <img alt="avatar" height="120"
                     th:attr="src=@{'data:image/png;base64,'+${userEditForm.base64EncodedImage}}" width="120"/>
                <input th:field="*{base64EncodedImage}" type="hidden"/>
            </div>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input autofocus="true" class="form-control" th:field="*{firstName}" type="text"/>
                <p th:errorclass="field-error" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></p>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input autofocus="true" class="form-control" th:field="*{lastName}" type="text"/>
                <p th:errorclass="field-error" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></p>
            </div>
            <div class="form-group">
                <label for="lastName">Date of Birth:</label>
                <input autofocus="true" class="form-control" th:field="*{dateOfBirth}" type="text"/>
                <p th:errorclass="field-error" th:errors="*{dateOfBirth}"
                   th:if="${#fields.hasErrors('dateOfBirth')}"></p>
            </div>
            <div class="form-group">
                <label for="lastName">Gender:</label>
                <select autofocus="true" class="form-control" th:field="*{gender}">
                    <option value="">Select Gender</option>
                    <option th:value="MALE">Male</option>
                    <option th:value="FEMALE">Female</option>
                </select>
                <p th:errorclass="field-error" th:errors="*{gender}" th:if="${#fields.hasErrors('gender')}"></p>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>
    </div>
</div>

<script th:src="@{/js/jquery-1.12.4.min.js}"></script>
<script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js}"/>
</body>
</html>