<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log In</title>
    <!--    <link crossorigin="anonymous" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"-->
    <!--          rel="stylesheet"-->
    <!--          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"/>-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="alert alert-success lead" th:if="${message != null}" th:text="${message}"></div>
        <div class="alert alert-danger lead" th:if="${error != null}" th:text="${error}"></div>
    </div>
    <h2 class="page-header" style="alignment: center">Log In</h2>
    <div class="row login-form">
        <form method="POST" th:action="@{/login}">
            <div class="form-group">
                <label for="username">User Name:</label>
                <input autofocus="true" class="form-control" id="username" name="username" type="text"/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" id="password" name="password" type="password"/>
            </div>
            <div class="form-group">
                <label for="rememberme">Remember-Me:</label>
                <input id="rememberme" name="remember-me" type="checkbox"/>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <div th:if="${message == null}"><h4 class="text-center"><a th:href="@{/registration}">Create an account</a>
            </h4></div>
        </form>
    </div>
</div>

<script th:src="@{/js/jquery-1.12.4.min.js}"/>
<!--<script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"-->
<!--        th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js}"/>-->
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
