<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create an account</title>
    <link crossorigin="anonymous" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          rel="stylesheet"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <h2 class="page-header">Create your account</h2>
    <div class="row other-form">
        <form enctype="multipart/form-data" method="POST" th:action="@{/registration}" th:object="${userForm}">
            <div class="form-group">
                <label for="username">User Name:</label>
                <input autofocus="true" class="form-control" th:field="*{userName}" type="text"/>
                <p th:errorclass="field-error" th:errors="*{userName}" th:if="${#fields.hasErrors('userName')}"></p>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input autofocus="true" class="form-control" th:field="*{password}" type="text"/>
                <p th:errorclass="field-error" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input autofocus="true" class="form-control" th:field="*{confirmPassword}" type="password"/>
                <p th:errorclass="field-error" th:errors="*{confirmPassword}"
                   th:if="${#fields.hasErrors('confirmPassword')}"></p>
            </div>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input autofocus="true" class="form-control" th:field="*{firstName}" type="text"/>
                <p th:errorclass="field-error" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></p>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input autofocus="true" class="form-control" th:field="*{lastName}" type="text"/>
                <p th:errorclass="field-error" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></p>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input autofocus="true" class="form-control" th:field="*{email}" type="text"/>
                <p th:errorclass="field-error" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></p>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Date of Birth:</label>
                <input autofocus="true" class="form-control" th:field="*{dateOfBirth}" type="text"/>
                <p th:errorclass="field-error" th:errors="*{dateOfBirth}"
                   th:if="${#fields.hasErrors('dateOfBirth')}"></p>
            </div>
            <div class="form-group">
                <label for="gender">Gender:</label>
                <select autofocus="true" class="form-control" th:field="*{gender}">
                    <option value="">Select Gender</option>
                    <option th:value="MALE">Male</option>
                    <option th:value="FEMALE">Female</option>
                </select>
                <p th:errorclass="field-error" th:errors="*{gender}" th:if="${#fields.hasErrors('gender')}"></p>
            </div>
            <div class="form-group">
                <label for="imageFile">Image File:</label>
                <input autofocus="true" class="form-control" th:field="*{imageFile}" type="file"/>
                <p th:errorclass="field-error" th:errors="*{imageFile}" th:if="${#fields.hasErrors('imageFile')}"></p>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>
    </div>
</div>

<script th:src="@{/js/jquery-1.12.4.min.js}"></script>
<script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js}"/>
</body>
</html>