<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User List</title>
    <link crossorigin="anonymous" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h2 class="page-header">Users</h2>
<form id="logoutForm" method="POST" th:action="@{/logout}">
    <div align="right" class="logout" sec:authorize="isAuthenticated()" th:fragment="logout">
        <h4> Hello <span sec:authentication="name"></span> |
            Roles: <span sec:authentication="principal.authorities"></span> |
            <a onclick="document.forms['logoutForm'].submit()">Logout</a>
        </h4>
    </div>
</form>

<div class="container">
    <div class="row">
        <table class="table table-bordered table-hover list-table">
            <thead>
            <tr>
                <th>Image</th>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td><img height="50" th:src="@{'data:image/png;base64,'+${user.base64EncodedImage}}" width="50"/></td>
                <td th:text="${user.userName}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td><a class="btn btn-success" th:href="@{/edit/{id}(id=${user.userName})}">edit</a></td>
                <td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${user.userName})}">delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script th:src="@{/js/jquery-1.12.4.min.js}"></script>
<script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js}"/>
</body>
</html>