<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <link crossorigin="anonymous" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          rel="stylesheet"
          th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>
<body>
<h2 class="page-header">Welcome</h2>
<div class="container">

    <form id="logoutForm" method="POST" th:action="@{/logout}">
        <div align="right" class="logout" sec:authorize="isAuthenticated()" th:fragment="logout">
            <h4> Hello <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a onclick="document.forms['logoutForm'].submit()">Logout</a>
            </h4>
        </div>
    </form>

    <h2>
        Done!!! <span sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/list}"> Go to User List</a></span>
    </h2>
</div>
<script th:src="@{/js/jquery-1.12.4.min.js}"></script>
<script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</body>
</html>